.menu{
    font-size: 14px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Time{
    margin: 10px;
    color: white;
}

.Time:hover{
    color: yellow;
}
h3{
    margin: 0px;
    padding: 0%;
}
a{
    text-decoration: none
}
@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column; 
    }
}
